/*Colour theme is purple with blues and greens with a yellow or dark purple accent.*/
html {
  box-sizing: border-box;
  background-color: #23212b;
  color: #FFFFFF80;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin-top: 0;
}

.width-wrap {
  max-width: 960px;
  margin: 0 auto 3em;
  padding: 0 2em 2em;
  background-color: #362f52;
}
h1,
h2,
h3 {
  color: #47e7aa;
}
a {
  color: #a2ebeb;
}
::selection {
  background-color: #e1f185;
  color: #b4f09c;
}
dt::after {
  content: ":";
  font-weight: bold;
}
header {
  border-top: 4px solid rgba(67, 223, 132, 0.4);
  margin: 0 -2em 0;
}
header nav {
  border-bottom: 1px dotted rgb(67, 223, 132, 0.4);
  margin: 0 2em 2em;
}
header li {
  display: inline;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav a {
  display: inline-block;
  border-top: 4px solid rgb(67, 223, 132, 0);
  padding: 1em 0 0.5em;
  margin: -4px 1em 0;
  color: #58c26f;
}
nav a:hover {
  border-top: 4px solid #dce992;
}

hr {
  width: 50vw;
  margin-top: 2em;
  margin-bottom: 3em;
  max-width: 890px;
  min-width: 300px;
  border: none;
  border-bottom: 3px dotted rgba(0,0,0,0.5);
}

th,
td {
  padding: 0.3em 1em;
}
thead tr th,
thead tr td,
tbody tr th,
tfoot tr th,
tfoot tr td {
  background-color: rgb(0, 0, 0, 0.2);
}
tr td {
  background-color: rgb(0, 0, 0, 0.05);
}
tr:nth-child(even) td {
  background-color: rgba(0, 0, 0, 0.15);
}

label {
  display: block;
}

fieldset label {
  display: inline;
}

[type="submit"] {
  border: none;
  padding: 1em 3em;
  color: #c9f187;
  background-color: #83e083;
}

input:invalid {
  background-color: #662828;
}

input:valid {
  background-color: none;
}
