/*Colour theme is purple with blues and greens with a yellow or dark purple accent.*/
html {
  box-sizing: border-box;
  background-color: #241e3b;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin-top: 0;
  font-family: "Asap", sans-serif;
  line-height: 1.3;
}

.width-wrap {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: #362f52;

  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top: none;

  margin-bottom: 3em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
}
h1,
h2,
h3 {
  color: #277054;
}
a {
  color: #a2ebeb;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 110, 0.36458333333333337) 24%,
    rgba(23, 111, 163, 1) 100%
  );
  color: rgba(0, 0, 0, 0);
  background-clip: text;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono", monospace;
}

img {
  max-width: 100%;
}

ol {
  list-style-type: upper-roman;
}

::selection {
  background-color: #e1f185;
  color: #b4f09c;
}
dt::after {
  content: ":";
  font-weight: bold;
}
header {
  border-top: 4px solid rgba(67, 223, 132, 0.4);
  margin: 0 -2em 0;
}
header nav {
  border-bottom: 1px dotted rgb(67, 223, 132, 0.4);
  margin: 0 2em 2em;
}
header li {
  display: inline-block;
}
header nav ul {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
}
header nav a {
  margin: -4px 1em 0;
  border-top: 4px solid rgb(67, 223, 132, 0);
  padding: 1em 1em 0.5em;
  color: #58c26f;
  text-transform: uppercase;
  padding: 1em 0 0.5em;
  display: block;
}
header nav ul {
  display: flex;
  text-decoration: none;
  justify-content: center;
}
header nav a:hover {
  text-decoration: none;
  border-top: 4px solid #dce992;
}

.bio table {
  border-collapse: collapse;
  caption-side: bottom;
  margin-top: 1em;
  column-span: all;
}

th,
td {
  padding: 0.3em 1em;
}
thead tr,
tbody tr,
tfoot tr {
  background-color: rgb(0, 0, 0, 0.2);
}
tr {
  background-color: rgb(0, 0, 0, 0.05);
}
tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.15);
}

label {
  display: block;
}

fieldset label {
  display: inline;
}
fieldset ul {
  padding: 0;
  list-style-type: none;
}

button[type="submit"] {
  border: none;
  padding: 1em 3em;
  color: #c9f187;
  background-color: #83e083;
}

input:invalid {
  background-color: #662828;
}

input:valid {
  background-color: none;
}

iframe {
  border-top-right-radius: 0.5cm;
  border-bottom-left-radius: 0.5cm;
}

footer {
  font-size: 75%;
  text-align: center;
}

a[href="#top"] {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0);
  margin-left: -25px;
  position: sticky;
  bottom: 10px;
  display: inline-block;
}
a[href="#top"]:hover {
  text-decoration: none !important;
  transform: rotate(45deg);
}

footer hr {
  width: 50vw;
  min-width: 300px;
  max-width: 890px;

  margin-top: 3em;
  margin-bottom: 2em;

  border: none;
  border-bottom: 3px dotted rgba(0, 0, 0, 0.3);
}

.bio {
  column-count: 3;
  column-gap: 2em;
}

.bio img {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 2%;
  background-color: #fff;
}
.favourites div {
  display: none;
}
.favourites input:checked + label + div {
  display: flex;
  width: 100%;
}
.favourites input:checked + label {
  text-decoration: underline #58c26f;
}
.favourites input {
  display: none;
}
.favourites {
  display: flex;
  flex-wrap: wrap;
}
div.favourites label {
  order: -1;
  flex-grow: 1;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.gallery img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery img:hover {
  scale: 1.1;
}
.row-span-2 {
  grid-row: span 2;
}
.col-span-2 {
  grid-column: span 2;
}
img.paperclip {
  background: none;
  box-shadow: none;
  width: 20%;
  position: absolute;
  right: -20px;
  top: -14px;
}
.bio a {
  display: block;
  position: relative;
}
